.page {
    min-width: 320px;
    position: relative;
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    position: relative;
    color: #123B9E;
    outline: none;
}