.history__arrow_right {
    position: absolute;
    bottom: 300px;
    left: 390px;
}

@media screen and (max-width: 1742px) {
    .history__arrow_right {
        left: 190px;
    }
}

@media screen and (max-width: 1695px) {
    .history__arrow_right {
        bottom: 190px;
    }
}

@media screen and (max-width: 1065px) {
    .history__arrow_right {
        left: 90px;
    }
}