.contacts__content-box {
    display: flex;
    margin: 70px auto 0;
    width: fit-content;
}

@media screen and (max-width: 1065px) {
    .contacts__content-box {
        flex-direction: column;
        margin: 40px auto 0;
        padding: 0 20px;
    }
}