.author {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 1695px) {
    .author {
        font-size: 15px;
        line-height: 24px;
    }
}

@media screen and (max-width: 1065px) {
    .author {
        font-size: 14px;
        line-height: 22px;
        left: 76px;
    }
}

@media screen and (max-width: 750px) {
    .author {
        font-size: 10px;
        line-height: 18px;
        bottom: 3px;
        left: 33px;
    }
}