.header__text {
    margin-left: 50px;
    font-size: 21px;
    font-weight: bold;
    color: #123b9e;
}

.header__text:active {
    border-bottom: 1px solid #123B9E;
}

.header__text:last-child {
    margin-right: 210px;
}

@media screen and (max-width: 1695px) {
    .header__text {
        margin-left: 50px;
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .header__text {
        margin-left: 50px;
        font-size: 14px;
    }
}

@media screen and (max-width: 424px) {
    .header__text {
        display: none;
    }
}