.main__background {
    background-image: url(../../../images/background.png);
    width: 819px;
    height: 1016px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: -10;
    overflow: hidden;
}

@media screen and (max-width: 1400px) {
    .main__background {
        width: 550px;
        height: 733px;
    }
}

@media screen and (max-width: 1065px) {
    .main__background {
        width: 415px;
        height: 532px;
    }
}

@media screen and (max-width: 750px) {
    .main__background {
        width: 300px;
        height: 386.28px;
    }
}