@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(./blocks/page/page.css);

/* header */

@import url(./blocks/header/header.css);
@import url(./blocks/header/__bar/header__bar.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__text/header__text.css);

/* main */

@import url(./blocks/main/main.css);
@import url(./blocks/main/__button/main__button.css);
@import url(./blocks/main/__title/main__title.css);
@import url(./blocks/main/__button-text/main__button-text.css);
@import url(./blocks/main/__background/main__background.css);
@import url(./blocks/main/__background-shell/main__background-shell.css);
@import url(./blocks/main/__comet-shell/main__comet-shell.css);
@import url(./blocks/main/__comet/main__comet.css);
@import url(./blocks/main/__glowing-ball/main__glowing-ball.css);
@import url(./blocks/main/__stars/type/main__stars_first.css);
@import url(./blocks/main/__stars/type/main__stars_second.css);
@import url(./blocks/main/__stars/type/main__stars_third.css);

/*  */

@import url(./blocks/cards/cards.css);

/*  */

@import url(./blocks/card/card.css);
@import url(./blocks/card/__illustration/card__illustration.css);
@import url(./blocks/card/__title/card__title.css);

/* club */

@import url(./blocks/club/club.css);
@import url(./blocks/club/__content/club__content.css);
@import url(./blocks/club/__illustration/club__illustration.css);
@import url(./blocks/club/__media-box/club__media-box.css);
@import url(./blocks/club/__text-box/club__text-box.css);
@import url(./blocks/club/__text/club__text.css);
@import url(./blocks/club/__title/club__title.css);
@import url(./blocks/club/__video/club__video.css);
@import url(./blocks/club/__media-nav-box/club__media-nav-box.css);
@import url(./blocks/club/__span/club__span.css);

/* 1 */

@import url(./blocks/backdrop/backdrop.css);

/*  */

@import url(./blocks/contacts/contacts.css);
@import url(./blocks/contacts/__point/contacts__point.css);
@import url(./blocks/contacts/__semi-title/contacts__semi-title.css);
@import url(./blocks/contacts/__text-box/contacts__text-box.css);
@import url(./blocks/contacts/__text/contacts__text.css);
@import url(./blocks/contacts/__title/contacts__title.css);
@import url(./blocks/contacts/__content-box/contacts__content-box.css);

/*  */

@import url(./blocks/courses/courses.css);
@import url(./blocks/courses/__media-box/courses__media-box.css);
@import url(./blocks/courses/__point/courses__point.css);
@import url(./blocks/courses/__semi-title/courses__semi-title.css);
@import url(./blocks/courses/__text-box/courses__text-box.css);
@import url(./blocks/courses/__text/courses__text.css);
@import url(./blocks/courses/__title/courses__title.css);
@import url(./blocks/courses/__ul-box/courses__ul-box.css);
@import url(./blocks/courses/__video/courses__video.css);
@import url(./blocks/courses/__content-box/courses__content-box.css);

/*  */

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__link-img/footer__link-img.css);
@import url(./blocks/footer/__link-text/footer__link-text.css);
@import url(./blocks/footer/__link/footer__link.css);
@import url(./blocks/footer/__social-point/footer__social-point.css);
@import url(./blocks/footer/__social/footer__social.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__map-box/footer__map-box.css);

/*  */

@import url(./blocks/header/header.css);
@import url(./blocks/header/__bar/header__bar.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__text/header__text.css);

/*  */

@import url(./blocks/history/history.css);
@import url(./blocks/history/__arrow/_type/history__arrow_left.css);
@import url(./blocks/history/__arrow/_type/history__arrow_right.css);
@import url(./blocks/history/__arrow/history__arrow.css);
@import url(./blocks/history/__media-box/history__media-box.css);
@import url(./blocks/history/__subtitle/history__subtitle.css);
@import url(./blocks/history/__title/history__title.css);
@import url(./blocks/history/__video/history__video.css);
@import url(./blocks/history/__cards/history__cards.css);

/*  */

@import url(./blocks/illustration/illustration.css);

/*  */

@import url(./blocks/nav/nav.css);
@import url(./blocks/nav/__point/nav__point.css);
@import url(./blocks/teachers/__title/teachers__title.css);
@import url(./blocks/teachers/__card-box/teachers__card-box.css);
@import url(./blocks/teachers/__main-card-box/teachers__main-card-box.css);
@import url(./blocks/teachers/teachers.css);
@import url(./blocks/teachers/__cards-main-teachers/teachers__cards-main-teachers.css);
@import url(./blocks/teachers/__card-main-teachers-title/teachers__card-main-teachers-title.css);

/*  */

@import url(./blocks/title/title.css);

/*  */

@import url(./blocks/author/author.css);

/*  */

@import url(./blocks/plug/plug.css);
@import url(./blocks/plug/__title/piug__title.css);
@import url(./blocks/plug/__box/plug__box.css);
@import url(./blocks/plug/__illustration/plug__illustration.css);
@import url(./blocks/plug/__stars/plug__stars.css);

/*  */

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__exit/popup__exit.css);
@import url(./blocks/popup/__exit-img/popup__exit-img.css);
@import url(./blocks/popup/__border/popup__border.css);
@import url(./blocks/popup/__illustration/popup__illustration.css);
@import url(./blocks/popup/__signature/popup__signature.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__button/_condition/popup__button_condition_active.css);
@import url(./blocks/invisible/invisible.css);

/*  */

@import url(./blocks/text-error/text-error.css);
p {
    /**
     * Для эксплорера
     */
    -ms-user-select: none;
    /**
     * Для мозилы
     */
    -moz-user-select: none;
    /**
     * Для конкверора
     */
    -khtml-user-select: none;
    /**
     * Для Сафари и Хрома
     */
    user-select: none;
    -webkit-text-stroke: 0.1px white;
}

button:focus {
    outline: 0;
}

h2 {
    -webkit-text-stroke: 0.2px white;
}