@keyframes comet {
    for {
        top: -30%;
        right: -30%;
    }
    to {
        top: 90%;
        right: 220%;
    }
}

.main__comet {
    background-image: url(../../../images/kometa_osnovnaya_chast.png);
    background-size: contain;
    margin: 0;
    position: absolute;
    width: 200px;
    height: 150px;
    top: 0;
    right: 0;
    /* animation: comet 5s infinite; */
}