.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10650;
    top: 0;
}

@media screen and (max-width: 1695px) {
    .header {
        height: 65px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 45px;
    }
}

@media screen and (max-width: 424px) {
    .header {
        height: 40px;
    }
}